block content
  h1= "My Travel Bucket List, testing deployment 2"
  p: a(href="/wished")= "Places I'd Like to Visit"
  p: a(href="/visited")= "Places I've Already Been To"
  p &#9889;Powered by Express - Javier
